<html>
    <head>
        <title>Updating......</title>
    </head>
    <body>
        <h1>updating the user</h1>
        <form action='' method='post' >
            <label>Creater :</label>
            <input type="text" name="creater" value="{{datas.creater}}" required>
            <label>about :</label>
            <input type="text" name="about" value="{{datas.about}}" required>
            <label>status :</label>
            <input type="text" name="status"value="{{datas.status}}" required>
            <input type="submit" value="update">

        </form>
    </body>
</html>